<form [formGroup]="addClienteForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="form-full-width" appearance="fill">
    <mat-label>Cuit</mat-label>
    <input
      type="text"
      placeholder="Cuit"
      aria-label="cuit"
      matInput
      [formControl]="cuitControl"
    />
  </mat-form-field>
  <mat-form-field class="form-full-width" appearance="fill">
    <mat-label>Razon Social</mat-label>
    <input
      type="text"
      placeholder="Razon Social"
      aria-label="razon social"
      matInput
      [formControl]="razonSocialControl"
    />
  </mat-form-field>

  <button mat-button type="submit">Crear Cliente</button>
</form>
