<button mat-raised-button color="primary" (click)="importCsv()">
  Importar comprobantes
</button>
<button mat-raised-button color="primary" (click)="openDialogCompFis()">
  Comprobantes fisicos
</button>

<button mat-raised-button color="primary" (click)="openDialogCompPerAnt()">
  Comprobantes periodos anteriores
</button>

<button mat-raised-button color="primary" (click)="exportTable()">
  Exportar libro
</button>

<div><app-comprobantes-compras-table></app-comprobantes-compras-table></div>
